@use 'utilities/colors' as *;
@use 'components/hamburger';
@use 'components/icon-box';

@mixin scrollbar {
	&::-webkit-scrollbar-thumb {
		background-color: $gray;
		border: 10px solid transparent;
		border-radius: 12px;
		background-clip: padding-box;
	}

	&::-webkit-scrollbar {
		width: 24px;
	}

	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}

@mixin button-hover {
	&:hover,
	&:focus,
	&:active {
		color: $accent;
	}

	&:hover {
		cursor: pointer;
	}
}

@mixin moz-table-fix {
	@-moz-document url-prefix() {
		width: 98% !important;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Urbanist', sans-serif;
	scroll-behavior: smooth;
	// 10px
	font-size: 62.5%;
}

body {
	background-color: $background-900;
}

.c-nav {
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1;
	background-color: $background-900;
	color: $primary;

	@mixin corner {
		content: url('../img/corner.min.svg');
		width: 1.2rem;
		height: 1.2rem;
		position: absolute;
		bottom: -1.2rem;
		z-index: 1;
	}

	&::before {
		@include corner();
	}

	&::after {
		@include corner();
		right: 0;
		transform: scaleX(-1);
	}

	&__top {
		font-weight: 600;

		& h1 {
			font-size: 1.8rem;
		}

		&--mobile {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 1.2rem 2.4rem;
		}
	}

	&__panel {
		visibility: hidden;
		opacity: 0;
		width: 100%;
		min-height: calc(100vh - 6.2rem);
		display: flex;
		flex-direction: column;
		position: absolute;
		gap: 3.6rem;
		padding-left: 2.4rem;
		font-size: 1.8rem;
		background-color: $background-900;
		transition: padding 0.3s, visibility 0.3s linear, opacity 0.15s;

		& p {
			color: $gray;
		}

		div {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;

			ul {
				list-style-type: none;
				display: flex;
				flex-direction: column;
				gap: 0.4rem;
			}

			a {
				color: inherit;
				text-decoration: none;
			}

			a:hover,
			a:focus,
			a:active {
				color: $accent;
				transition: color 0.3s;
				cursor: pointer;
			}
		}

		&--opened {
			visibility: visible;
			opacity: 1;
			padding-top: 2.4rem;
		}
	}
}

main {
	width: 100%;
	height: calc(100vh - 6.2rem);
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
	padding: 2.4rem;
	border-radius: 12px 12px 0 0;
	overflow-y: scroll;
	background-color: $background-600;
}

.l-column-left,
.l-column-right {
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
}

.c-balance {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	font-size: 1.8rem;
	color: $primary;

	&__welcome-text {
		display: none;
	}

	&__amount {
		h2 {
			font-size: 1.8rem;
			font-weight: 400;
		}
	}
}

.c-subscriptions {
	color: $primary;

	&__header {
		font-size: 1.8rem;
		font-weight: 600;
	}

	&__heading-box {
		display: flex;
		justify-content: space-between;
		gap: 0.8rem;
		padding: 2.4rem 0;

		h2 {
			font-weight: 400;
			font-size: 1.6rem;
		}

		p {
			font-size: 1.6rem;
		}
	}
}

.l-cards {
	@include scrollbar();
}

.c-card {
	height: 19.2rem;
	width: 19.2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 2.4rem;
	border-radius: 12px;
	background: $gradient;

	&__title-box {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1.6rem;
		p {
			font-size: 2rem;
		}
	}

	.c-icon-box {
		height: 4.8rem;
		width: 4.8rem;
		border-radius: 12px;
	}

	&__price-box {
		padding-top: 1.6rem;

		p:first-child {
			font-size: 1.6rem;
		}

		p:last-child {
			font-size: 1.2rem;
		}
	}

	&__action {
		margin-top: 2.4rem;
		a {
			font-size: 1.2rem;
			color: inherit;
			text-decoration: underline;
			text-decoration-style: dashed;
			text-underline-offset: 0.5rem;
		}
	}

	&__button {
		position: absolute;
		right: 1rem;
		bottom: 1.2rem;
		margin-top: 2.4rem;

		&::before {
			content: '';
			position: absolute;
			width: 2.4rem;
			height: 2.4rem;
			background-color: $background-600;
			opacity: 0;
			display: block;
			border-radius: 100%;

			transition: 0.3s opacity;
		}

		&:hover::before {
			opacity: 0.9;
		}

		.c-icon-box__icon {
			background-color: $primary;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.slick-slide {
	margin-right: 1.6rem;
	height: 19.2rem;
	width: 19.2rem;
}

.c-transactions {
	color: $primary;

	&__header {
		font-size: 1.8rem;
	}

	&__buttons {
		padding: 2.4rem 0 1.2rem 0;
	}

	&__button {
		background-color: transparent;
		border: none;
		margin-right: 0.8rem;
		font-size: 1.6rem;
		color: $primary;

		@include button-hover();
	}
}

.c-users {
	color: $primary;

	position: absolute;
	width: 100%;
	height: 51.2rem;
	left: 0;
	right: 0;
	border-radius: 12px;
	background-color: $background-900;
	padding: 2.4rem;

	.l-columns {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.6rem;
	}

	&__heading {
		font-size: 1.8rem;
	}

	&__user-count {
		display: none;
	}
}

.c-table {
	font-size: 1.6rem;
	border-collapse: collapse;

	thead {
		tr > th:last-child {
			visibility: hidden;
		}

		tr > th {
			border: none !important;
		}
	}

	tbody > tr {
		position: relative;

		span {
			background-color: $primary;
		}

		&::after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: transparent;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 0.4px solid $gray !important;

			@include moz-table-fix();
		}
	}

	&__money {
		padding-right: 1.6rem !important;
	}
}

.dt {
	&-scroll-body {
		@include scrollbar();
		// margin-left: 0.4rem;
	}

	&-scroll-head {
		border-bottom: 0.4px solid $primary !important;

		@include moz-table-fix();
	}

	&-search {
		display: flex;
		justify-content: flex-end;
		label {
			visibility: hidden;
		}

		@include moz-table-fix();
	}

	&-input {
		border: none !important;
		border-bottom: 1px solid $primary !important;
		border-radius: 0 !important;
	}
}

.c-dropdown {
	#dropdownBtn {
		background-color: $primary;
		width: 2.4rem;
		height: 2.4rem;

		@include button-hover();

		&:hover,
		&:focus,
		&:active {
			background-color: $accent;
		}
	}

	.c-dialog-box {
		bottom: -100px;
		background-color: $background-600;
		z-index: 1;

		button {
			background-color: transparent;
			font-size: 1.6rem;
		}
	}
}

.c-list {
	position: absolute;
	width: 100%;
	height: 51.2rem;
	left: 0;
	right: 0;
	border-radius: 12px;
	overflow-y: scroll;
	background-color: $background-900;

	@include scrollbar();

	&__record {
		display: flex;
		align-items: flex-end;
		padding: 1.2rem 2.4rem;
		padding-right: 1.2rem;
		font-size: 1.6rem;
	}

	&__record:first-child {
		padding-top: 2.4rem;
	}

	&__record:last-child {
		padding-bottom: 1.2rem;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
		margin-left: 2.4rem;
	}

	&__date {
		font-size: 1.2rem;
		margin-bottom: 0.4rem;
		color: $gray-light;
	}

	&__cash-flow {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
		margin-left: auto;
		text-align: right;
	}
}

.c-icon-btn {
	background-color: transparent;
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 0.4rem;
	font-size: 2rem;
	font-family: 'Urbanist', sans-serif;
	border: none;
	color: $primary;

	span {
		display: inline-block;
		background-color: $accent;
	}

	@include button-hover();
}

.c-dialog-box {
	opacity: 0;
	visibility: hidden;
	width: 9.6rem;
	height: fit-content;
	position: absolute;
	right: 2.8rem;
	bottom: 10%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.8rem;
	border-radius: 12px;
	background-color: $background-900;
	transition: visibility 0.2s linear, opacity 0.2s;

	button {
		width: 100%;
		padding-left: 1.6rem;
		font-size: 1.6rem;
		font-family: 'Urbanist', sans-serif;
		background: none;
		border: none;
		text-align: left;
		color: $primary;

		&:first-child {
			padding-top: 1.6rem;
			color: $error;
		}

		&:last-child {
			padding-bottom: 1.6rem;
		}

		@include button-hover();
	}
}

.c-modal {
	$border-radius: 12px;
	position: absolute;
	max-width: 38.4rem;
	width: 100%;
	height: fit-content;
	top: 2.4rem;
	left: 50%;
	transform: translateX(-50%);
	padding: 2.4rem;
	border-radius: $border-radius;
	z-index: 1;

	&__header,
	&__body,
	&__footer {
		background-color: $background-600;
	}

	&__header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0.8rem;
		border-bottom: 1px solid $gray;
		border-radius: $border-radius $border-radius 0 0;
	}

	&__body {
		padding: 2.4rem 1.6rem;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-radius: 0 0 $border-radius $border-radius;
		padding: 0 1.6rem 2.4rem 1.6rem;
	}

	&::before {
		content: '';
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: -2.4rem;
		left: 50%;
		transform: translateX(-50%);
		background-color: $background-900;
		opacity: 0.8;
		z-index: -1;
	}
}

.c-form {
	&__icon-container {
		margin-bottom: 4.8rem;

		#icon {
			display: none;
		}

		label {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.2rem;
			font-size: 1.6rem;
			color: $accent;

			.c-icon-box {
				border-radius: 12px;
				width: 4.8rem;
				height: 4.8rem;
			}
		}
	}
	&__input-box {
		display: flex;
		flex-direction: column;

		label {
			color: $gray-light;
			font-size: 1.2rem;
		}

		input {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $primary;
			height: 2.4rem;
			margin-bottom: 1.6rem;
			font-size: 1.6rem;
			color: $primary;

			&[type='number'] {
				appearance: textfield;
				-moz-appearance: textfield;
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}

			&::placeholder {
				color: $gray-light;
			}
		}

		.h-main-label {
			padding-bottom: 0.8rem;
		}

		&--suffix {
			@extend .c-form__input-box;
			flex-direction: column;

			input {
				width: 100%;
				margin: 0;
				border: none;
			}

			.h-wrapping-label {
				border-bottom: 1px solid $primary;
				margin-bottom: 1.6rem;
			}

			span {
				font-size: 1.6rem;
				color: $gray-light;
			}
		}

		&--pillbox {
			@extend .c-form__input-box;
		}
	}
}

.select2 {
	.selection {
		.select2 {
			&-selection {
				font-size: 1.2rem;
				border: none;
				border-bottom: 1px solid $primary;
				border-radius: 0;
				background-color: $background-600;

				&__choice {
					padding: 0.8rem 2rem 0.8rem 1.2rem;
					margin-left: 0;
					margin-right: 0.4rem;
					background-color: $accent;
					border: none;
					border-radius: 0.8rem;

					&__remove {
						height: 1.6rem;
						width: 1.6rem;
						left: auto;
						top: 0.7rem;
						right: 0.6rem;
						border: none;
						color: $primary;
						border-radius: 100%;
						font-size: 1.2rem;
						font-family: 'Urbanist', sans-serif;
						font-weight: 400;
						line-height: 1.2rem;
						transition: background-color 0.3s;

						&:hover,
						&:focus,
						&:active {
							background-color: hsla(240, 11%, 7%, 0.6);
							color: $primary;
						}
					}
				}
			}
			&-search {
				&__field {
					color: $primary;
					font-family: 'Urbanist', sans-serif;
				}
			}
		}
	}

	&-dropdown {
		top: 0.8rem;
		background-color: $background-900;
		border: none;
		border-radius: 0.4rem !important;
	}

	&-results {
		font-size: 1.2rem;
		border-radius: 1.2rem;
		color: $primary;
		background-color: $background-900;

		&__options {
			@include scrollbar();
			border-radius: 0.4rem;
		}

		&__option {
			&--highlighted,
			&--selected {
				background-color: $accent !important;
			}
		}
	}
}

.c-button {
	width: 12.8rem;
	height: 3.2rem;
	font-size: 1.6rem;
	font-family: 'Urbanist', sans-serif;
	border: none;
	border-radius: 0.8rem;
	// background-color: $accent;
	background: $gradient;
	color: $primary;
}

// Utility Classes

.u-colorize {
	font-weight: 400;
	color: $accent;

	&--success {
		@extend .u-colorize;
		color: $success;
	}

	&--error {
		@extend .u-colorize;
		color: $error;
	}

	&--faded {
		@extend .u-colorize;
		color: $accent-faded;
	}

	&--gray-light {
		@extend .u-colorize;
		color: $gray-light;
	}
}

.u-emphasize {
	font-weight: 600;
	color: $accent;

	&--success {
		@extend .u-emphasize;
		color: $success;
	}

	&--error {
		@extend .u-emphasize;
		color: $error;
	}

	&--faded {
		@extend .u-emphasize;
		color: $accent-faded;
	}

	&--gray-light {
		@extend .u-emphasize;
		color: $gray-light;
	}
}

.u-visible {
	opacity: 1;
	visibility: visible;
}

.u-display-none {
	opacity: 0;
	display: none;
}

.u-text-aling-right {
	text-align: right;
}

@import 'breakpoints/small';
@import 'breakpoints/medium';
@import 'breakpoints/large';
