@use 'utilities/colors' as *;
@use 'components/hamburger';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Urbanist', sans-serif;
	scroll-behavior: smooth;
	// 10px
	font-size: 62.5%;
}

body {
	background-color: $background-900;
}

.u-icon {
	mask-size: 100%;
	mask-repeat: no-repeat;
	mask-position: center;
	width: 24px;
	height: 24px;
	background-color: red;
}

.u-overflow-hidden {
	overflow: hidden;
}

@mixin color-modifier {
	color: $accent;

	&--success {
		color: $success;
	}

	&--error {
		color: $error;
	}

	&--faded {
		color: $accent-faded;
	}
}

.u-colorize {
	@include color-modifier;
}

.u-emphasize {
	font-weight: 600;
	@include color-modifier;
}

.c-nav {
	width: 100%;
	// margin-top: 6.2rem;
	background-color: $background-900;
	color: $primary;
	&__top {
		font-weight: 600;

		& h1 {
			font-size: 1.8rem;
		}

		&--mobile {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 1.2rem 1.6rem;
		}
	}

	&__panel {
		font-size: 1.8rem;
		opacity: 0;
		display: flex;
		position: absolute;
		gap: 3.6rem;
		flex-direction: column;
		padding-top: 1.6rem;
		padding-left: 1.6rem;

		& p {
			color: $gray;
		}

		div {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;

			ul {
				list-style-type: none;
				display: flex;
				flex-direction: column;
				gap: 0.4rem;
			}

			li:hover {
				color: $accent;
				transition: color 0.3s;
				cursor: pointer;
			}
		}

		&--opened {
			opacity: 1;
			position: relative;
			width: 100%;
			height: 100vh;
			background-color: $background-900;
			overflow: hidden;
		}
	}
}

main {
	background-color: $background-600;
	width: 100%;
	height: calc(100vh - 6.2rem);
	padding: 2.4rem;
	border-radius: 12px 12px 0 0;
	overflow-y: scroll;

	&::-webkit-scrollbar-thumb {
		background-color: $gray;
		border: 10px solid transparent;
		border-radius: 12px;
		background-clip: padding-box;
	}

	&::-webkit-scrollbar {
		width: 24px;
	}
}

.c-balance {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	font-size: 1.8rem;
	color: $primary;

	&__icon-box {
		background-color: $accent;
		border-radius: 100%;
		height: 6.4rem;
		width: 6.4rem;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		background-color: $accent-faded;
	}

	&__welcome-text {
		display: none;
	}

	&__amount {
		h2 {
			font-size: 1.8rem;
			font-weight: 400;
		}
	}
}

@import 'breakpoints/small';
@import 'breakpoints/medium';
@import 'breakpoints/large';
