@use 'utilities/colors' as *;

@media (min-width: 992px) {
	.c-hamburger {
		display: none;
	}

	body {
		display: flex;
	}

	$main-ctn-margin: 4.8rem;
	.c-nav {
		width: 20.9rem;
		flex-shrink: 0;
		margin: $main-ctn-margin 0 $main-ctn-margin 0;
		&__top {
			padding: 3.2rem 0 3.2rem 0;

			& h1 {
				font-size: 2.4rem;
			}

			h1::before {
				$leftValue: -0.8rem;
				content: '';
				display: inline-block;
				width: 2.4rem;
				height: 2.4rem;
				position: relative;
				top: 0.5rem;
				left: $leftValue;
				margin-left: calc(3.2rem - $leftValue);
				border-radius: 100%;
				background-color: $accent;
			}
		}

		&__panel {
			font-size: 1.6rem;
			padding-left: 0;
			margin-left: 3.2rem;
			opacity: 1;
		}
	}

	main {
		height: calc(100vh - ($main-ctn-margin * 2));
		margin: $main-ctn-margin;
		margin-left: 0;
		padding: 6.4rem;
		border-radius: 12px;

		&::-webkit-scrollbar-thumb {
			border: 8px solid transparent;
		}
	}

	.c-balance {
		background-color: $background-900;
		position: relative;
		width: 47.2rem;
		height: 25.6rem;
		align-items: flex-start;
		justify-content: space-between;
		border-radius: 12px;
		font-size: 2.4rem;

		&__icon-box {
			height: 19.2rem;
			width: 19.2rem;
			border-radius: 12px 0 64px 0;
			background: $gradient;
		}

		&__icon {
			display: none;
		}

		&__welcome-text {
			display: block;
		}

		&__amount {
			position: relative;
			top: 30%;
			right: 20%;
		}

		&__decorative-block {
			position: absolute;
			height: 4.8rem;
			width: 12.8rem;
			right: 0;
			bottom: 0;
			transform: scaleX(-1);
			border-radius: 0 64px 0 12px;
			background: $gradient;
		}
	}
}
