@use 'utilities/colors' as *;
@use 'components/icon-box';

@media (min-width: 880px) {
	.c-hamburger {
		display: none;
	}

	body {
		display: flex;
	}

	$main-ctn-margin: 4.8rem;
	.c-nav {
		width: 20.9rem;
		flex-shrink: 0;
		margin: $main-ctn-margin 0 $main-ctn-margin 0;

		&__top {
			padding: 3.2rem 0 3.2rem 0;

			& h1 {
				font-size: 2.4rem;
				@include blue-dot-before();
			}
		}

		&__panel {
			visibility: visible;
			opacity: 1;
			width: auto;
			min-height: auto;
			font-size: 1.6rem;
			padding-left: 0;
			margin-left: 3.2rem;
		}
	}

	.c-logout-button {
		&--mobile {
			display: none;
		}
		&--desktop {
			display: flex;
		}
	}

	.c-app-main {
		height: calc(100vh - ($main-ctn-margin * 2));
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: $main-ctn-margin;
		margin-left: 0;
		padding: 4.8rem;
		border-radius: 12px;

		&::-webkit-scrollbar-thumb {
			border: 8px solid transparent;
		}

		@include scrollbar();
	}

	.c-balance {
		$box-width: 19.2rem;
		background-color: $background-900;
		position: relative;
		width: 47.2rem;
		height: 19.2rem;
		align-items: flex-start;
		justify-content: space-between;
		border-radius: 12px;
		font-size: 2.4rem;

		.c-icon-box {
			height: 100%;
			width: $box-width;
			flex-shrink: 0;
			border-radius: 12px 0 64px 12px;
			background: $gradient;

			&__icon {
				display: none;
			}
		}

		&__welcome-text {
			display: block;
		}

		&__amount {
			height: 100%;
			width: calc(100% - $box-width);
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 4.8rem;

			h2 {
				font-size: 2.4rem;
			}
		}

		&__decorative-block {
			position: absolute;
			height: 4.8rem;
			width: 12.8rem;
			right: 0;
			bottom: 0;
			transform: scaleX(-1);
			border-radius: 0 64px 0 12px;
			background: $gradient;
		}
	}

	.c-subscriptions {
		width: 47.2rem;
		height: 44.6rem;
		padding: 3.2rem;
		border-radius: 12px;
		background-color: $background-900;

		&__header {
			font-weight: 400;
			color: $gray-light;
			font-size: 2rem;
			br {
				display: none;
			}
		}

		&__heading-box {
			h2,
			p {
				font-size: 2rem;
			}
		}
	}

	.l-cards {
		display: flex;
		height: calc(100% - 6.4rem);
		flex-wrap: wrap;
		gap: 1.6rem;
		margin-right: -1.6rem;
		overflow-y: scroll;
	}

	.c-card {
		&__dialog-box {
			background-color: $background-600;
		}

		&:last-child {
			margin-bottom: 3.2rem;
		}
	}

	.c-transactions {
		position: relative;
		width: 47.2rem;
		height: 68.6rem;
		padding: 3.2rem;
		border-radius: 12px;
		background-color: $background-900;

		&__header {
			font-weight: 400;
			color: $gray-light;
			font-size: 2rem;
			br {
				display: none;
			}
		}

		&__button {
			font-size: 2rem;
		}
	}

	.c-users {
		position: relative;
		width: 47.2rem;
		height: 68.6rem;
		padding: 3.2rem;

		.l-columns > .l-col-r {
			display: flex;
			align-items: flex-end;
		}

		&__heading {
			font-weight: 400;
			color: $gray-light;
			font-size: 2rem;
			span {
				display: none;
			}
		}

		&__user-count {
			display: block;
			margin-top: 0.8rem;
			font-size: 2rem;
		}
	}

	.c-list {
		left: 3.2rem;
		width: 90%;
		height: calc(100% - 11.5rem);

		&__record {
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;

			@-moz-document url-prefix() {
				padding-right: 2.4rem;
			}
		}

		&__record:last-child {
			padding-bottom: 2.4rem;
		}
	}
}
